body.center
	.widthRestriction#widthRestriction
		h1.logoFont The Delhi Waste Society
		br
		h2 Coming soon
		br
		br
		h2
			| Interested? 
			a(href="https://api.whatsapp.com/send?phone=917827536689&amp;text=Hi%20Kartik%2c%20I%20found%20your%20contact%20on%20your%20website%20for%20The%20Delhi%20Waste%20Society%20ting.&amp;source=&amp;data=&amp;app_absent=").red Contact us
		br
		br
		br
		h3 Aahil &nbsp;|&nbsp; Divyansh &nbsp;|&nbsp; Kartik
	script.
		var widthRestriction = document.getElementById('widthRestriction');
		widthRestriction.style.paddingTop = (screen.height - widthRestriction.offsetHeight)/3;